html {
    margin: 0;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 12px;
    padding: 8px;
}

.hero, .middle, .bottom, .footer, .header {
    padding-left: 50px;
    padding-right: 50px;
}
.hero {
    padding-top: 16px;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#header-links {
    display: flex;
    gap: 48px;
}

.hero-content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.hero-left-side {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 400px;
    gap: 24px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.second-part img {
    width: 150px;
}